################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BugTrackingSystem/.idea/.idea.BugTrackingSystem/.idea
